# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh
/.github/workflows/oss-governance-bot.yml       @fuxingloh
/.github/governance.yml                         @fuxingloh

/assets                                         @fuxingloh
/components                                     @fuxingloh
/constants                                      @fuxingloh
/hooks                                          @fuxingloh
/navigation                                     @fuxingloh
/packages                                       @fuxingloh
/screens                                        @fuxingloh

/app.json                                       @fuxingloh
/App.tsx                                        @fuxingloh
/babel.config.js                                @fuxingloh
/types.tsx                                      @fuxingloh

tsconfig.json                                   @fuxingloh
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
