# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh @thedoublejay

/assets                                         @fuxingloh @thedoublejay
/components                                     @fuxingloh @thedoublejay
/constants                                      @fuxingloh @thedoublejay
/hooks                                          @fuxingloh @thedoublejay
/navigation                                     @fuxingloh @thedoublejay
/packages                                       @fuxingloh @thedoublejay
/screens                                        @fuxingloh @thedoublejay

/translations                                   @fuxingloh @thedoublejay

/app.json                                       @fuxingloh @thedoublejay
/App.tsx                                        @fuxingloh @thedoublejay
/babel.config.js                                @fuxingloh @thedoublejay

tsconfig.json                                   @fuxingloh @thedoublejay
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @thedoublejay
README.md                                       @fuxingloh @thedoublejay
LICENSE                                         @fuxingloh
