{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "standard-jsx"
  ],
  "ignorePatterns": [
    "*.json",
    "cypress/support/*.ts"
  ],
  "overrides": [
    // Js and Typescript files
    {
      "files": [".js", "*.ts", "*.tsx"],
      "rules": {
        "import/no-default-export": "warn"
      },
      "excludedFiles": ["*.test.ts", "*.test.tsx"]
    },
    // Unit test files
    {
      "files": [ "*.test.ts", "*.test.tsx"],
      "plugins": ["jest"],
      "extends": [
        "plugin:jest/recommended"
      ]
    }
  ]
}
