version: '3.7'

services:
  traefik:
    image: traefik:v2.4
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.ping.address=:8082"
      - "--ping.entryPoint=ping"
    ports:
      - "19553:80"
      - "19552:8080"
      - "19551:8082"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  defi-blockchain:
    image: defi/defichain:2.6.1
    command: >
      defid
      -printtoconsole
      -rpcallowip=0.0.0.0/0
      -rpcbind=0.0.0.0
      -rpcuser=playground
      -rpcpassword=playground
      -rpcworkqueue=512
      -masternode_operator=mswsMVsyGMj1FzDMbbxw2QW3KvQAv2FKiy
      -regtest=1
      -jellyfish_regtest=1
      -txnotokens=0
      -logtimemicros
      -txindex=1
      -acindex=1
      -amkheight=0
      -bayfrontheight=1
      -bayfrontgardensheight=2
      -clarkequayheight=3
      -dakotaheight=4
      -dakotacrescentheight=5
      -eunosheight=6
      -eunospayaheight=7
      -fortcanningheight=8
      -fortcanningmuseumheight=9
      -fortcanninghillheight=10

  defi-playground:
    image: ghcr.io/defich/playground:0.17.0
    depends_on:
      - defi-blockchain
    ports:
      - "3002:3000"
    environment:
      PLAYGROUND_DEFID_URL: http://playground:playground@defi-blockchain:19554
    labels:
      - "traefik.http.services.playground.loadbalancer.server.port=3000"
      - "traefik.http.routers.playground.rule=PathPrefix(`/v0/playground/`)"
      - "traefik.http.routers.playground.entrypoints=web"

  defi-whale:
    image: ghcr.io/defich/whale:0.26.2
    depends_on:
      - defi-blockchain
    ports:
      - "3001:3000"
    environment:
      WHALE_DEFID_URL: http://playground:playground@defi-blockchain:19554
      WHALE_DATABASE_PROVIDER: level
      WHALE_DATABASE_LEVEL_LOCATION: .level/index
      WHALE_NETWORK: regtest
      WHALE_VERSION: v0
    labels:
      - "traefik.http.services.whale.loadbalancer.server.port=3000"
      - "traefik.http.routers.whale.rule=PathPrefix(`/v0/regtest/`)"
      - "traefik.http.routers.whale.entrypoints=web"
