{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "initiate-electron.js"
  ],
  "extends": [
    "standard-with-typescript",
    "standard-jsx"
  ]
}
