{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "standard-with-typescript",
    "standard-jsx",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ]
}
