name: CI E2E

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Cypress
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository
    strategy:
      fail-fast: false # https://github.com/cypress-io/github-action/issues/48
      matrix:
        containers: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: Setup Playground
        run: docker-compose -f docker-compose.yml up -d

      - uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd
        with:
          node-version: 16
          cache: 'npm'

      # install specific version of chrome
      - name: Install latest Google Chrome
        run: |
          wget "https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
          sudo dpkg -i "google-chrome-stable_current_amd64.deb"

      - run: npm ci

      - run: .github/workflows/ci/wait-for http://localhost:3001/_actuator/probes/liveness -t 240
      - run: .github/workflows/ci/wait-for http://localhost:3002/_actuator/probes/liveness -t 240
      - run: .github/workflows/ci/wait-for http://localhost:19551/ping -t 240

      - uses: cypress-io/github-action@53cc3178f59cc99b5519c29c14a182fb98ea4f31
        with:
          config-file: cypress.config.js
          install: false
          record: true
          parallel: true
          start: npm run start:web
          wait-on: 'http://localhost:19006'
          browser: chrome
          spec: mobile-app/cypress/e2e/**
          tag: ${{ github.event_name }}
          project: ./mobile-app
        env:
          CYPRESS_E2E: true
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: codecov/codecov-action@81cd2dc8148241f03f5839d295e000b8f761e378
