name: EAS Build

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  eas-build:
    name: EAS Build
    environment: EAS Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

      - uses: actions/github-script@9ac08808f993958e9de277fe43a64532a609130e
        id: version
        with:
          script: |
            const [date] = new Date().toISOString().split('T')
            const build = '0.0.' + date.replace(/[^0-9]/g, '')
            console.log(build)
            return build

          result-encoding: string

      - uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561
        with:
          node-version: 16

      - uses: expo/expo-github-action@d4175ed947598c22308599f9cb07490458536a7c
        with:
          eas-version: latest
          expo-version: 4.x
          packager: npm
          token: ${{ secrets.EXPO_TOKEN }}

      - run: npm ci

      - run: |
          git config --global user.email "github-bot@defichain.com"
          git config --global user.name "defichain-bot"
          npx standard-version --release-as ${{steps.version.outputs.result}}

      - name: EAS Build - iOS & Android
        run: eas build --platform all --non-interactive --wait --profile preview
