name: Expo

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish-preview:
    if: github.event.sender.type == 'User' && github.event.pull_request.head.repo.full_name == github.repository
    name: Publish Preview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561
        with:
          node-version: 16
          cache: 'npm'

      - uses: expo/expo-github-action@d4175ed947598c22308599f9cb07490458536a7c
        with:
          expo-version: 4.x
          expo-cache: true
          packager: npm
          token: ${{ secrets.EXPO_TOKEN }}

      - run: npm ci
      - run: expo publish --release-channel=pr-preview-${{ github.event.number }}

      - uses: marocchino/sticky-pull-request-comment@39c5b5dc7717447d0cba270cd115037d32d28443
        with:
          GITHUB_TOKEN: ${{ secrets.DEFICHAIN_BOT_GITHUB_TOKEN }}
          header: wallet-preview
          message: |
            Build preview for DeFiChain Wallet is ready!

            Built with commit ${{ github.sha }}

            https://expo.io/@defichain/wallet?release-channel=pr-preview-${{ github.event.number }}
