name: OSS Governance

on:
  pull_request_target:
    types: [ opened, edited, synchronize ]

permissions:
  contents: read
  issues: write
  pull-requests: write
  statuses: write
  checks: write

jobs:
  Labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: fuxingloh/multi-labeler@f5bd7323b53b0833c1e4ed8d7b797ae995ef75b4 # v2.0.1
        with:
          config-path: .github/labeler.yml
