name: "Translations"

on:
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  translations:
    name: Missing Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3.5.1
        with:
          node-version: 16
          cache: "npm"
      - run: npm ci
      - name: Find missing translations
        id: find_string
        run: npm run translation:missing
      - name: Read missing_translations.json
        id: translations
        uses: juliangruber/read-file-action@02bbba9876a8f870efd4ad64e3b9088d3fb94d4b # tag=v1.1.6
        with:
          path: ./missing_translations.json
      - uses: marocchino/sticky-pull-request-comment@fcf6fe9e4a0409cd9316a5011435be0f3327f1e1 # v2.3.1
        with:
          GITHUB_TOKEN: ${{ secrets.DEFICHAIN_BOT_GITHUB_TOKEN }}
          header: Missing Translations
          message: |
            ### Missing Translations Report
            The following translations are missing for this pull request.
            ```json
            ${{ steps.translations.outputs.content }}
            ```
      - name: Send missing translations to Slack workflow
        if: ${{ fromJson(steps.translations.outputs.content).totalMissingCount != 0 }}
        uses: slackapi/slack-github-action@007b2c3c751a190b6f0f040e47ed024deaa72844 # tag=v1.23.0
        id: slack_missing_translation_workflow
        with:
          payload-file-path: "./missing_translations.json"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_MISSING_TRANSLATION_WEBHOOK_URL }}
