name: "Translations"

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

concurrency: 
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  translations:
    name: Missing Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - name: Find missing translations
        id: find_string
        run: npm run translation:missing
      - name: Read missing_translations.json
        id: translations
        uses: juliangruber/read-file-action@ebfa650188272343fef925480eb4d18c5d49b925
        with:
          path: ./missing_translations.json
      - uses: marocchino/sticky-pull-request-comment@39c5b5dc7717447d0cba270cd115037d32d28443
        with:
          GITHUB_TOKEN: ${{ secrets.DEFICHAIN_BOT_GITHUB_TOKEN }}
          header: Missing Translations
          message: |
            ### Missing Translations Report
            The following translations are missing for this pull request.
            ```json
            ${{ steps.translations.outputs.content }}
            ```
      - name: Send missing translations to Slack workflow  
        if: ${{ fromJson(steps.translations.outputs.content).totalMissingCount != 0 }}
        uses: slackapi/slack-github-action@8157a0f4d70c5099e42dcff1258b19bdaabb030b
        id: slack_missing_translation_workflow
        with:
          payload-file-path: "./missing_translations.json"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_MISSING_TRANSLATION_WEBHOOK_URL }}      